<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" >
    <listeners>
        <listener class-name="Utility.TestListener"/>
        <listener class-name="Utility.AnnotationTransformer"/>
    </listeners>
    <test name="LoginTest">
        <classes>
            <class name="org.example.AppTest"/>
        </classes>
    </test>
</suite>